@font-face{
	font-family: base;
	src: url('BAKESBR.TTF');
}

.html,body{
    margin:0;
    background-color:white;
	font-family:base;
	padding:0;	
}

.redlight{
	color:#c65363;
}

.containercontainer{
	position:fixed;
	background-color:#f7f8f9;
	width:100%;
	height:6.9%;
	top:0;
	border-bottom:1px solid lightgrey;
	z-index: 100;
	box-shadow:0px 0px 8px lightgrey;
}

.headercontainer{
    width:66%;
    position:absolute; 
	margin-left:16%;
}

.headercontainer a {
	 text-decoration: none;
	 color:#666;
}

.headercontainer a:hover {
	transition:0.6s;
	 color:deepskyblue;
}

.logo{
   width:144px;
   height:66px;
   position:absolute;
}

.logoname{
   width:120px;
   height:24px;
   position:absolute;
   left:12%;
   top:24px;
}

.headercontainer ul{
    display:inline-block;
    list-style-type:none;
    float:right;
	text-align:center;
}

.headercontainer ul li{
    font-size:24px;
    line-height:42px;
    color:#666;
	font-weight:lighter;
	display:inline-block;
	width:120px;
	text-align:center;
	transition: 0.4s ease;
}

#highlight{
	border-bottom:2px solid lightblue;
}

.headercontainer ul li:hover{
	cursor:pointer;
	color:deepskyblue;
}

.headercontainer ul li ul{
	clear:both;
	background-color:#f7f8f9;
	text-align:center;
	padding:0;
	margin:0;
}

.headercontainer ul li ul li{
	display:none;
	border-bottom:2px dotted lightgrey;
}

.headercontainer ul li:hover ul li{
	display:block;
}

.wrapper{
	width:1280px;
	margin:6% auto 3% auto;
	position:relative;
} 		

.footerbox{
	width:1280px;
	color:white;
	opacity:0.9;
	margin:0 auto;
	font-size:18;
	position:relative;
}

.beutytext{
	width:240px;
	margin-left:4.6%;
	display:block;
}

.footretextbox h3{
	font-weight:300;
	text-decoration:underline;
	margin-left:6%;
	font-size:1.5em;
	margin-top:12%;
}

.footretextbox p{
	font-size:1.2em;
	margin-left:6%;
	line-height:30px;
}

.footretextbox	 h4{
	margin-left:6%;
	font-size:1.4em;
}

.facebookicon{
	height:10%;
	width:8%;
	display:inline-block;
	margin-left:9.6%;
}

#footermapsbox{
	height:88%;
	width:66%;
	box-shadow:0px 2px 12px #33373d;
	position:absolute;
	top:1%;
	right:4%;
}

.footerborder{
	clear:both;
	border-top:1px dotted grey;
	opacity:0.7;
	text-align:center;
	margin-top:6%;
}

@media (max-width: 1820px) {
.logo{
   display:inline-block;
   width:136px;
   height:60px;
   position:absolute;
   display:block;
}

@media (max-width: 1710px) {
.logo{
   display:inline-block;
   width:128px;
   height:52px;
   position:absolute;
   display:block;
}

.logoname{
	display:inline-block;
   width:120px;
   height:24px;
   position:absolute;
   left:12%;
   top:20px;
}

.headercontainer ul li{
    font-size:22px;
    line-height:32px;
    color:#666;
	font-weight:lighter;
	display:inline-block;
	width:120px;
	text-align:center;
}
}

@media (max-width: 1480px) {
.headercontainer ul li{
    font-size:20px;
    line-height:26px;
    color:#666;
	font-weight:300;
	float:left;
	max-width:90px;
}

.footer{
	width:100%;
	background-color:#394251;
	margin-top:2%;
	height:46.2%;
	overflow:hidden;
}
}

@media (max-width: 1420px){
	.secondtextcontaier ul li{
	font-size:14px;
}

.thirdtextcontainer ul li{
	font-size:14px;
}

.logo{
   display:inline-block;
   width:116px;
   height:48px;
   position:absolute;
   display:block;
}

.logoname{
	display:inline-block;
   width:120px;
   height:24px;
   position:absolute;
   left:12%;
   top:16px;
   display:block;
}

.footer{
	width:100%;
	background-color:#394251;
	margin-top:2%;
	height:47.8%;
	overflow:hidden;
}
}

@media (max-width: 1380px) {
.headercontainer{
    width:76%;
    margin:0 auto;
    height:9.7%;
    position:relative;   
}
	
.logo{
   display:inline-block;
   width:100px;
   height:44px;
}

.logoname{
	display:inline-block;
   width:110px;
   height:22px;
   position:absolute;
   left:12%;
   top:14px;
   display:block;
}

.headercontainer ul{
    display:inline-block;
    list-style-type:none;
    float:right;
}

.headercontainer ul li{
    font-size:16px;
    line-height:22px;
    color:#666;
	font-weight:300;
	float:left;
	max-width:90px;
}

.footerbox{
	width:1180px;
	height:100%;
	color:white;
	opacity:0.9;
	margin:0 auto;
	font-size:18;
	position:relative;
}

.footer{
	width:100%;
	background-color:#394251;
	height:52.6%;
}

#footermapsbox{
	height:66%;
	width:57%;
	box-shadow:0px 2px 12px #33373d;
	position:absolute;
	top:1%;
	right:5%;
}
}

@media (max-width: 1280px) {

.containercontainer{
	position:fixed;
	background-color:#f7f8f9;
	width:100%;
	height:5.8%;
	top:0;
	border-bottom:1px solid lightgrey;
	z-index: 100;
}
	
.headercontainer{
    width:76%;
    position:absolute; 
	margin-left:12.4%;
}
	
	.logo{
   display:inline-block;
   width:112px;
   height:52px;
}

.logoname{
	display:inline-block;
   width:122px;
   height:24px;
   position:absolute;
   left:12%;
   top:18px;
   display:block;
}

.headercontainer ul{
    display:inline-block;
    list-style-type:none;
    float:right;
}

.headercontainer ul li{
    font-size:20px;
    line-height:30px;
    color:#666;
	font-weight:300;
	float:left;
	max-width:90px;
}

.wrapper{
	width:1000px;
}

.open1{
	height:2540px;
}

.open2{
	height:800px;
}

.open3{
	height:980px;
}

.open4{
	height:440px;
}

.footerbox{
	width:76%;
	height:100%;
	color:white;
	opacity:0.9;
	margin:0 auto;
	font-size:18;
	position:relative;
}

.footer{
	width:100%;
	background-color:#394251;
	height:38.6%;
	margin-top:3.6%;
}
}

@media (max-width: 1025px) {
.containercontainer{
	position:fixed;
	background-color:#f7f8f9;
	width:100%;
	height:72px;
	top:0;
	border-bottom:1px solid lightgrey;
	z-index: 100;
}
	
.headercontainer{
    width:89%;
    position:absolute; 
	margin-left:4.4%;
}
	
.logo{
   display:inline-block;
   width:128px;
   height:58px;
   margin-top: 5px;
}

.logoname{
	display:inline-block;
   width:128px;
   height:25px;
   position:absolute;
   left:12%;
   top:22px;
   display:block;
}

.headercontainer ul{
    display:inline-block;
    list-style-type:none;
    float:right;
}

.headercontainer ul li{
    font-size:22px;
    line-height:35px;
    color:#666;
	font-weight:bold;
	float:left;
	max-width:142px;
}

.textcontainer p{
    margin:5%;
    padding:5%;
    font-size:18px;
}

.mainbox{
    clear:both;
	height:502px;
	max-width:1800px;
	margin:0 auto;
}

.wrapper{
	width:888px;
	margin:24% auto 3% auto;
	position:relative;
} 		

.footerbox{
	width:888px;
	color:white;
	opacity:0.9;
	margin:0 auto;
	font-size:28px;
}

.beutytext{
	width:666px;
	margin:0 auto;
	text-align:center;
	display:block;
	font-size:32px;
}

.wtfdiv{
	width:666px;
	margin:0 auto;
	text-align:center;
	font-size:33px;
}

.footretextbox h3{
	font-weight:300;
	text-decoration:underline;
	margin:0 auto;
	font-size:1.5em;
	margin-top:12%;
	display:block;
}

.footretextbox p{
	font-size:1.2em;
	margin-left:6%;
	line-height:30px;
}

.footretextbox	 h4{
	margin-left:6%;
	font-size:1.4em;
}

.facebookicon{
	height:200px;
	width:200px;
	display:block;
	margin:0 auto;
	
}

#footermapsbox{
	height:666px;
	width:888px;
	box-shadow:0px 2px 12px #33373d;
	position:relative;
	text-align:center;
	margin-left:5%;
}

.footerborder{
	clear:both;
	border-top:1px dotted grey;
	opacity:0.7;
	text-align:center;
	width:100%;
	position:relative;
	margin-top:12%;
	font-size:32px;
}
}